body {
    font-family: 'Poppins', sans-serif;

    margin: 0%;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 250px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 80%;

}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(orange, #f8405f);
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.second-part {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    box-shadow: 10px 10px 50px yellowgreen;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;

}